In [1]:
import pandas as pd
import csv
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
#Dataframe
df=pd.read_csv('Dataset1- IMDB-Scraped-Data.csv')
df.head()

,title,year,rating,rating_count,genre
0,Gladiator,2000,8.5,"1,294,736","Action,Adventure,Drama,5 May 2000 (USA)\n"
1,Jurassic Park,1993,8.1,"834,297","Action,Adventure,Sci-Fi,11 June 1993 (USA)\n"
2,Saving Private Ryan,1998,8.6,"1,191,235","Drama,War,24 July 1998 (USA)\n"
3,Pulp Fiction,1994,8.9,"1,763,342","Crime,Drama,14 October 1994 (USA)\n"
4,Inglourious Basterds,2009,8.3,"1,216,056","Adventure,Drama,War,21 August 2009 (USA)\n"

In [3]:
#Data information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 938 entries, 0 to 937
Data columns (total 5 columns):
title           938 non-null object
year            938 non-null int64
rating          938 non-null float64
rating_count    938 non-null object
genre           938 non-null object
dtypes: float64(1), int64(1), object(3)
memory usage: 36.8+ KB

In [4]:
#change 'rating_count' column (string to integer)
df["rating_count"] = pd.to_numeric(df["rating_count"].str.replace(',', ''))

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 938 entries, 0 to 937
Data columns (total 5 columns):
title           938 non-null object
year            938 non-null int64
rating          938 non-null float64
rating_count    938 non-null int64
genre           938 non-null object
dtypes: float64(1), int64(2), object(2)
memory usage: 36.8+ KB

In [6]:
df=df.reset_index()

In [7]:
df=df.rename({'index': 'Movie_ID'}, axis=1)

# movie genres:

- Action                      
- Adventure        
- Animation        
- Biography        
- Comedy           
- Crime            
- Documentary      
- Drama            
- Family           
- Fantasy          
- Mystery          
- Talk-Show        
- War              
- Film-Noir
- Game-Show
- History
- Horror
- Music
- Musical
- Reality-TV
- News
- Romance
- Sci-Fi
- Sport 
- Thriller
- Western

In [8]:
#Adding new columns and check if the mentioned genre is inside the 'genre' column

df['Action']=df['genre'].apply(lambda x: 1 if 'action' in x.lower() else 0)
df['Adventure']=df['genre'].apply(lambda x: 1 if 'adventure' in x.lower() else 0)
df['Animation']=df['genre'].apply(lambda x: 1 if 'animation' in x.lower() else 0)
df['Biography']=df['genre'].apply(lambda x: 1 if 'biography' in x.lower() else 0)
df['Comedy']=df['genre'].apply(lambda x: 1 if 'comedy' in x.lower() else 0)
df['Crime']=df['genre'].apply(lambda x: 1 if 'crime' in x.lower() else 0)
df['Documentary']=df['genre'].apply(lambda x: 1 if 'documentary' in x.lower() else 0)
df['Drama']=df['genre'].apply(lambda x: 1 if 'drama' in x.lower() else 0)
df['Family']=df['genre'].apply(lambda x: 1 if 'family' in x.lower() else 0)
df['Fantasy']=df['genre'].apply(lambda x: 1 if 'fantasy' in x.lower() else 0)
df['Mystery']=df['genre'].apply(lambda x: 1 if 'mystery' in x.lower() else 0)
df['Talk-Show']=df['genre'].apply(lambda x: 1 if 'talk' in x.lower() else 0)
df['War']=df['genre'].apply(lambda x: 1 if 'war' in x.lower() else 0)
df['Film-Noir']=df['genre'].apply(lambda x: 1 if 'noir' in x.lower() else 0)
df['Game-Show']=df['genre'].apply(lambda x: 1 if 'game' in x.lower() else 0)
df['History']=df['genre'].apply(lambda x: 1 if 'history' in x.lower() else 0)
df['Horror']=df['genre'].apply(lambda x: 1 if 'horror' in x.lower() else 0)
df['Music']=df['genre'].apply(lambda x: 1 if 'music' in x.lower() else 0)
df['Musical']=df['genre'].apply(lambda x: 1 if 'musical' in x.lower() else 0)
df['Reality-TV']=df['genre'].apply(lambda x: 1 if 'reality' in x.lower() else 0)
df['News']=df['genre'].apply(lambda x: 1 if 'news' in x.lower() else 0)
df['Romance']=df['genre'].apply(lambda x: 1 if 'romance' in x.lower() else 0)
df['Sci-Fi']=df['genre'].apply(lambda x: 1 if 'sci' in x.lower() else 0)
df['Sport']=df['genre'].apply(lambda x: 1 if 'sport' in x.lower() else 0)
df['Thriller']=df['genre'].apply(lambda x: 1 if 'thriller' in x.lower() else 0)
df['Western']=df['genre'].apply(lambda x: 1 if 'western' in x.lower() else 0)

In [9]:
#new dataframe
df.head()

,Movie_ID,title,year,rating,rating_count,genre,Action,Adventure,Animation,Biography,...,Horror,Music,Musical,Reality-TV,News,Romance,Sci-Fi,Sport,Thriller,Western
0,0,Gladiator,2000,8.5,1294736,"Action,Adventure,Drama,5 May 2000 (USA)\n",1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,Jurassic Park,1993,8.1,834297,"Action,Adventure,Sci-Fi,11 June 1993 (USA)\n",1,1,0,0,...,0,0,0,0,0,0,1,0,0,0
2,2,Saving Private Ryan,1998,8.6,1191235,"Drama,War,24 July 1998 (USA)\n",0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,Pulp Fiction,1994,8.9,1763342,"Crime,Drama,14 October 1994 (USA)\n",0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,Inglourious Basterds,2009,8.3,1216056,"Adventure,Drama,War,21 August 2009 (USA)\n",0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
#Rating Overview
movie_clustering=df[['Movie_ID','rating_count', 'rating']] .groupby('Movie_ID').first()  
movie_clustering.head()

          rating_count  rating
Movie_ID
0              1294736     8.5
1               834297     8.1
2              1191235     8.6
3              1763342     8.9
4              1216056     8.3

In [11]:
#Normalizing Movie Ratings(between 0 and 1)
#we need it for distance metrics

movie_rating_number=pd.DataFrame(movie_clustering['rating_count'])
movie_rating_number_shaped= movie_rating_number.apply(lambda x: (x - np.min(x)) / (np.max(x) - np.min(x)))
movie_rating_number_shaped.head()

          rating_count
Movie_ID
0             0.574726
1             0.370330
2             0.528780
3             0.782746
4             0.539798

In [12]:
#After normalizing movie ratings (Maximum= 1.0)
movie_rating_number_shaped.loc[movie_rating_number_shaped['rating_count'].idxmax()]

rating_count    1.0
Name: 927, dtype: float64

In [13]:
#After normalizing movie ratings (Minimum= 0.0)
movie_rating_number_shaped.loc[movie_rating_number_shaped['rating_count'].idxmin()]

rating_count    0.0
Name: 314, dtype: float64

In [14]:
#save the dataset
df.to_csv('Dataset2- IMDB_modified_Dataframe.csv', index=False)

In [15]:
dataframe=pd.read_csv('Dataset2- IMDB_modified_Dataframe.csv')

In [16]:
movdict={} # empty dict
with open('Dataset2- IMDB_modified_Dataframe.csv',encoding='UTF-8') as csv_file:
    csv_reader = csv.reader(csv_file)
    next(csv_reader)# skip first row name
    
    for column in csv_reader:
        
        fields=column
        
        name=fields[1].replace('\xa0', '') #remove unneccesary string elements
        
        movie_id_=int(fields[0])
        
        genres=(fields[6:32])            #26 genre columns (0 or 1)
        
        genres = list(map(int, genres))  #set integers
        
        
        #concatenate the elements
        #Dictionary Key: movie id 
        #Dictionary Values: movie name, genre list, popularity score, rating 
        movdict[movie_id_]=(name, genres, movie_rating_number_shaped.loc[movie_id_].get('rating_count'), movie_clustering.loc[movie_id_].rating)

In [17]:
# returning the list with genre information horizontally instead of vertically
%pprint

Pretty printing has been turned OFF

In [18]:
movdict[2]

('Saving Private Ryan', [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], 0.528780023536295, 8.6)

In [19]:
#calculating the distance between two movies
#The higher the distance, the less similar 2 movies are

from scipy import spatial

#function takes 2 movie ids, a and b
#then calculate distance between those 2 movies(distance score)

def Computedistance(a,b):   
    genresA=a[1]
    genresB=b[1]
    
    genreDistance=spatial.distance.cosine(genresA, genresB)
    
    popularityA=a[2]
    popularityB=b[2]
    
    popularityDistance=abs(popularityA-popularityB)
    
    #function will return result of genre distance + popularity distance
    return genreDistance + popularityDistance

In [53]:
#compare the distance between two random movies
#this example= comparation between Gladiator and Jurassic Park
Computedistance(movdict[1], movdict[4])

0.8361346496257144

In [54]:
movdict[1]

('Jurassic Park', [1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0], 0.3703304181532221, 8.1)

In [56]:
movdict[4]

('Inglourious Basterds', [0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], 0.5397984011122697, 8.3)

In [66]:
#compute distance between one movie and all other movies in dictionary
#distance based on distance score
#function will calculate knn 

import operator

def get_neighbors(movie_id_, k):
    
    #empty distance list
    distances=[]
    
    #distance between the first movie and all the other movies in dictionary
    for movie in movdict:
        if(movie!= movie_id_):
            dist= Computedistance(movdict[movie_id_], movdict[movie])
            distances.append((movie, dist))
            
            #sort result based on distance score
    distances.sort(key=operator.itemgetter(1))
    
    #when we have neighbors list, we go through each k value and append results
    #in neighbors list
    neighbors=[]
    for i in range(k): 
        neighbors.append(distances[i][0])
    return neighbors

k=8
avg_rating=0
#finding 5 nearest neighbors, using get_neighbors function

# movie:Django Unchained
neighbors=get_neighbors(8,k)

for neighbor in neighbors:
        avg_rating+=movdict[neighbor][3]
        print (movdict[neighbor][0]+ ' '+ str(movdict[neighbor][3]))
           
avg_rating /= float(k)

American Beauty 8.3
Unforgiven 8.2
American History X 8.5
True Grit 7.6
Fight Club 8.8
Requiem for a Dream 8.3
Saving Private Ryan 8.6
Gladiator 8.5

In [67]:
movdict[8]

('Django Unchained', [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1], 0.5785880087415451, 8.4)

In [68]:
#average rating of (k=5) nearest neighbors (movie:Django Unchained)
avg_rating

8.350000000000001